@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
}

/*HEADER*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1660px;
  overflow: hidden;
  top: 46px;
  /*Стили для li*/
  /*Стили для li*/
}

.header .apple-img {
  position: relative;
  left: 92px;
  height: 3%;
  width: 3%;
}

.header .ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-transform: translateX(-85px);
          transform: translateX(-85px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: calc(13px + 4 *(100vw / 1660));
  /*17px */
  line-height: 134.4%;
}

.header .main-li:nth-child(1) {
  position: absolute;
  left: 293px;
}

.header .main-li:nth-child(2) {
  position: absolute;
  left: 501px;
}

.header .main-li:nth-child(3) {
  position: absolute;
  left: 708px;
}

.header .main-li:nth-child(4) {
  position: absolute;
  white-space: nowrap;
  left: 915px;
}

.header .main-li:nth-child(5) {
  position: absolute;
  left: 1172px;
}

.header .main-li:nth-child(6) {
  border-bottom: 2px solid currentColor;
  position: absolute;
  white-space: nowrap;
  left: 1397px;
}

.header .main-li {
  border-bottom: 2px solid currentColor;
}

.jobs {
  position: absolute;
  top: 250px;
  left: 113px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 134.4%;
}

.jobs__two {
  position: absolute;
  left: 112px;
  top: 340px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
}

.image-phone {
  position: relative;
  max-width: 900px;
  height: 730px;
  left: 615px;
  top: 120px;
}

.image-phone__picture {
  width: 100%;
  height: 100%;
}

.li-tup {
  white-space: nowrap;
}

/*HEADER*/
.width-main {
  max-width: 1660px;
}

/*MAIN-ONE*/
.width-main {
  max-width: 1660px;
}

.width-main .main-sect {
  position: relative;
  overflow: hidden;
  top: 50px;
  max-height: 803px;
}

.width-main .main-sect__img {
  width: 100%;
}

.width-main .minimal {
  position: relative;
  width: 431px;
  height: 41px;
  left: 112px;
  z-index: 100;
  top: -670px;
  font-weight: 400;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 134.4%;
}

.width-main .minimal-two {
  position: relative;
  width: 328px;
  height: 319px;
  left: 75%;
  top: -450px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: calc(12px + 9 * (100vw / 1660));
  /*21 по макету*/
  line-height: 134.4%;
  color: #3D3737;
}

/*Слайдер*/
.slider-sect {
  position: relative;
  max-width: 1660px;
  height: 605px;
  background: linear-gradient(96.59deg, #F0F0F0 2.11%, rgba(196, 196, 196, 0) 100%);
  top: -165px;
}

.slider-sect .owl-item {
  width: 400px;
}

.slider-sect .owl-carousel {
  position: relative;
  display: block;
  margin-top: 100px;
  z-index: 160;
  top: 140px;
  width: 100%;
  left: 225px;
}

.slider-sect .owl-carousel .owl-dots {
  margin-right: 130px;
  margin-top: 90px;
}

.slider-sect .owl-carousel .item {
  max-width: 224px;
  height: 335px;
  z-index: 1000;
  background-color: white;
  border-radius: 19px;
}

.slider-sect .card_name {
  top: 30px;
}

.slider-sect .name_one {
  position: absolute;
  top: 215px;
  left: 50px;
  font-family: montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 134.4%;
}

.slider-sect .ii {
  position: absolute;
  margin-left: 29px;
}

.slider-sect .popo {
  left: 22px;
}

.slider-sect .photo__slide {
  position: absolute;
  top: 40px;
}

.slider-sect .img_position {
  position: relative;
  top: 66px;
}

.slider-sect .buy-card {
  position: relative;
  width: 106px;
  height: 32px;
  left: 58px;
  font-family: montserrat;
  font-weight: 500;
  top: 280px;
  background: linear-gradient(92.01deg, #F1E1E1 7.84%, rgba(225, 209, 209, 0) 234.15%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.6));
  border-radius: 59px;
}

.slider-sect .qq {
  position: relative;
  font-family: montserrat;
  font-weight: 500;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 120px;
  margin-left: 50px;
}

.slider-sect .ok_buy {
  position: absolute;
  -webkit-transform: translate(24px, 7px);
          transform: translate(24px, 7px);
}

.slider-sect .__buy {
  position: absolute;
  margin-bottom: 20px;
}

.slider-sect .dots {
  top: 50px;
}

.slider-sect .boney {
  position: absolute;
  right: 100px;
}

/*CONT IMAGE*/
.cont_image {
  position: relative;
  -webkit-transform: translateY(-190px);
          transform: translateY(-190px);
  overflow: hidden;
  max-width: 1660px;
}

.cont_image__one {
  position: absolute;
  width: 100%;
}

.cont_image__one .heading {
  position: relative;
  font-family: montserrat;
  width: 100%;
  color: white;
  top: 0px;
  font-size: 36px;
  left: 50%;
  -webkit-transform: translate(-100px, -150px);
          transform: translate(-100px, -150px);
}

.cont_image__one-img {
  width: 100%;
  display: block;
}

.cont_image__two {
  width: 100%;
}

.cont_image__two .cont_image__two-img {
  position: relative;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.cont_image__two-text {
  position: absolute;
  max-width: 648px;
  font-family: montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 134.4%;
  top: 350px;
  left: 550px;
}

.cont_image__two-text_two {
  position: absolute;
  max-width: 772px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 134.4%;
  top: 530px;
  left: 650px;
}

.charge-photo {
  position: relative;
  max-width: 1660px;
}

.charge-photo .width-main__sect {
  position: absolute;
  width: 100%;
}

.charge-photo .width-main__sect__sect-text {
  position: absolute;
  max-width: 456px;
  height: 250px;
  left: 112px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 134.4%;
  color: #725E5E;
}

.charge-photo .width-main__sect .width-main__sect__sect-photo--img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 1000px;
  margin-left: 700px;
  -webkit-transform: translateY(-170px);
          transform: translateY(-170px);
}
/*# sourceMappingURL=apple.css.map */